
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 86px 210px;
}
.box{
    width: 50%;
}
.box button{
    width: 200px;
    background-color: rgb(15, 151, 255);
    border-radius: 20px;
    color: #fff;
    padding: 16px 37.75px 17px 37px ;
}
.img{
    width: 609px;
    height: 532px;
    
}
